/* global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* colors */

.black {
  background-color: #0b0d17;
}

.gray {
  background-color: #d0d6f9;
}

.title-1,
.title-2,
.title-3,
.title-4 {
  font-family: "Bellefair", serif;
  font-weight: 400;
}

.title-5 {
  font-size: 28px;
  letter-spacing: 4.75;
  font-family: "Barlow Condensed", sans-serif;
}

/* landing page */

/* body */

body {
  background: url("assets/landing/background-home-mobile.jpg") no-repeat center
    bottom / cover;
  min-height: 100vh;
}

/* header */

.header {
  display: flex;
  padding: 24px;
  margin-bottom: 24px;
  align-items: center;
  justify-content: space-between;
}

.header_decoration {
  display: none;
}

.burger_menu {
  cursor: pointer;
}

.header_nav_items {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.55px);
  height: 100%;
  padding: 33px 26px 0 32px;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  width: 254px;
}

.header_nav_items.active {
  transform: translateX(0%);
  z-index: 100;
}

.header_nav_list li a {
  font-family: "Barlow Condensed", sans-serif;
  color: #fff;
  letter-spacing: 2.7px;
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  border-bottom: solid transparent 3px;
  transition: ease 0.4s;
}

.header_nav_list a:hover {
  border-bottom: solid #ffffff 3px;
}

.header_nav_list li a span {
  display: block;
}

.header_nav .close_nav {
  cursor: pointer;
  margin: 0 0 65px auto;
  display: block;
}

.nav_item_order {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2.7px;
  margin-right: 10px;
}

/* content */

.content {
  text-align: center;
  padding: 0 24px;
  padding-bottom: 90px;
  font-family: "Barlow Condensed", sans-serif;
}

.content_subtitle {
  text-transform: uppercase;
  color: rgba(208, 214, 249, 1);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2.7px;
}

.content_title {
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-size: 80px;
  line-height: 100px;
}

.content_text {
  color: rgba(208, 214, 249, 1);
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

.content_explore_btn {
  margin-top: 81px;
  width: 150px;
  height: 150px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  font-size: 20px;
  font-family: "Bellefair", serif;
  cursor: pointer;
  text-align: center;
  position: relative;
}

.content_explore_btn a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  color: #0b0d17;
}

.content_explore_btn::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  z-index: -1;
  transition: 0.3s ease;
}

.content_explore_btn:hover::before {
  inset: -70px;
  opacity: 0.1;
  background: rgba(255, 255, 255, 1);
}

/* destinations page */

.destinations_body {
  background: url("assets/destination/background-destination-mobile.jpg")
    no-repeat center bottom / cover;
}

/* content */

.destinations_content {
  padding: 0 24px 58px 24px;
}

.destinations_order,
.crew_order {
  opacity: 0.25;
  font-weight: 700;
}

.content_img_holder {
  margin: 32px auto 26px;
  height: 170px;
  width: 170px;
}

.content_img_holder img {
  opacity: 0;
  transition: opacity 0.4s ease;
  width: 100%;
  height: 100%;
}

.content_img_holder img.animated {
  opacity: 1;
}

.destinations_nav {
  display: flex;
  justify-content: center;
}

.destinations_nav li {
  color: #d0d6f9;
  font-size: 14px;
  letter-spacing: 2.36px;
  padding-bottom: 8px;
  cursor: pointer;
  margin-left: 28px;
  text-transform: uppercase;
  transition: ease 0.4s;
  border-bottom: solid transparent 3px;
}

.destinations_nav li:first-child {
  margin-left: 0;
}

.destinations_nav li.active {
  color: #fff;
  border-bottom: solid #fff 3px;
}

.destinations_nav li:hover {
  color: #fff;
  border-bottom: solid #fff 3px;
}

.destinations_title {
  font-size: 56px;
  line-height: 100%;
  margin: 20px 0 1px 0;
}

.destinations_hr {
  border: none;
  background-color: #383b4b;
  height: 1px;
  margin: 32px 0;
}

.destinations_travel_label {
  display: block;
  color: #d0d6f9;
  font-size: 14px;
}

.destinations_content .content_body h5 {
  margin: 12px 0 32px;
  font-size: 28px;
  color: #fff;
  font-family: "Bellefair", serif;
}

.destinations_travel_holder {
  margin-top: 32px;
}

/* crew page */
.crew_body {
  background: url("assets/crew/crew_bg_image.svg") no-repeat center bottom /
    cover;
}
/* content */
.crew_slider_nav {
  display: flex;
  margin: 32px auto;
  justify-content: center;
  gap: 16px;
}

.crew_img_holder {
  margin: 32px auto 0;
  max-width: 327px;
  height: 226px;
}

.crew_img_holder img {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.crew_img_holder img.animated {
  opacity: 1;
}

.crew_hr {
  margin-top: 0;
}

.slider_nav_item {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.17;
  cursor: pointer;
}

.slider_nav_item:hover {
  opacity: 0.5;
}

.slider_nav_item.active {
  opacity: 1;
}

.crew_role {
  font-size: 16px;
  font-weight: 400;
  font-family: "Bellefair", serif;
  color: #fff;
  opacity: 0.7;
  text-transform: uppercase;
}

.crew_title {
  font-size: 24px;
  line-height: 100%;
  margin: 8px 0 16px;
}

/* responsive */

/* tablet */

@media (min-width: 768px) {
  /* landing */
  body {
    background: url("assets/landing/background-home-tablet.jpg") no-repeat
      center bottom / cover;
  }
  /* header */
  .burger_menu,
  .close_nav {
    display: none !important;
  }
  .header {
    padding: 0;
    margin-bottom: 106px;
  }
  .logo_holder {
    padding-left: 39px;
  }
  .header_nav_items {
    display: block;
    position: initial;
    transform: none;
    width: 450px;
    padding: 39px 48px 0;
    transition: none;
  }
  .header_nav_list {
    display: flex;
  }
  .header_nav_list a {
    font-size: 14px !important;
    letter-spacing: 2.36px !important;
    margin: 0 0 0 32px !important;
    height: 100%;
    padding-bottom: 39px;
  }

  .header_nav_list li a.active {
    border-bottom: solid #ffffff 3px;
  }

  .nav_item_order {
    display: none !important;
  }

  .content {
    padding: 0 159px;
    padding-bottom: 90px;
  }

  .content_subtitle {
    font-size: 20px;
    letter-spacing: 3.38px;
    margin-bottom: 24px;
  }
  .content_title {
    font-size: 150px;
    line-height: 150px;
  }
  .content_text {
    line-height: 28px;
    font-size: 16px;
    margin-top: 24px;
  }
  .content_explore_btn {
    width: 242px;
    height: 242px;
    font-size: 32px;
    margin-top: 156px;
  }

  /* destinations */
  .destinations_body {
    background-image: url("assets/destination/background-destination-tablet.jpg");
  }
  /* content */
  .destinations_content {
    padding: 0 38px;
  }

  .destinations_content .content_header {
    text-align: left;
    font-size: 20px;
  }

  .content_img_holder {
    width: 300px;
    height: 300px;
    margin-top: 60px;
  }

  .destinations_nav {
    margin: 53px 0 32px;
  }

  .destinations_nav li {
    font-size: 16px;
  }

  .destinations_title {
    font-size: 80px;
  }

  .destinations_content .content_body {
    padding: 0 98px 68px;
  }

  .destinations_desc {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .destinations_desc span {
    letter-spacing: 2.36px;
    line-height: 100%;
    font-size: 14px;
  }
  .destinations_travel_holder {
    margin-top: 0;
  }
}
/* desktop */
@media (min-width: 1440px) {
  /* landing */
  /* header */

  body {
    background-image: url("assets/landing/background-home-desktop.jpg");
  }

  .header {
    padding-top: 40px;
    margin-bottom: 0;
    position: relative;
  }
  .header_decoration {
    display: block;
    position: absolute;
    width: 473px;
    height: 1px;
    opacity: 0.25;
    color: #fff;
    top: 88px;
    left: 167px;
    z-index: 100;
  }
  .logo_holder {
    padding-left: 55px;
  }
  .nav_item_order {
    display: block !important;
  }
  .header_nav_items {
    width: 830px;
  }
  .header_nav_list {
    padding-left: 123px;
  }
  .header_nav_list a {
    margin-left: 48px !important;
  }
  .header_nav_list li:first-child a {
    margin-left: 0 !important;
  }
  /* content */
  .content {
    display: flex;
    align-items: center;
    margin-top: 251px;
    text-align: left;
    padding: 0 165px 130px 165px !important;
    justify-content: space-between;
  }
  .content_subtitle {
    font-size: 28px;
  }
  .content_title {
    margin: 24px 0;
  }
  .content_text {
    font-size: 18px;
    line-height: 32px;
    max-width: 444px;
  }
  .content_explore_btn {
    margin: 0;
    width: 274px;
    height: 274px;
  }
  /* destinations */
  .destinations_body {
    background-image: url("assets/destination/background-destination-desktop.jpg");
  }
  /* content */
  .destinations_content {
    margin-top: 78px;
  }
  .content_img_holder {
    width: 445px;
    height: 445px;
    margin-left: 63px;
    margin-top: 97px;
  }
  .destinations_content .content_body {
    padding: 0;
  }
  .destinations_title {
    font-size: 100px;
  }
  .destinations_nav {
    justify-content: left;
  }
  .destinations_desc {
    justify-content: left;
    text-align: left;
    gap: 80px;
  }
}
